*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}



body{
    background-color: beige;
    color: black;
    min-height: 100vh;
    font-family: 'Georgia', sans-serif;
    line-height: 1.4;
    display: grid;
    place-content: center;
}

img{
    max-width: 100%;
    display: block;
}

h1, h2{
    font-family: 'Young serif',serif;
    font-weight: 400;
}

h1{
    color: darkslategrey;
    font-size: 2.8rem;
}

h2{
    color: burlywood;
    margin-bottom: 1rem;
}

.recipe-step{
    margin: 1rem 0;
}

.nutrition-step{
    margin-top: 1rem;
}

ul{
    padding-left: 1.25rem;
}
ul li::marker{
    color: #645452;
    font-weight: bold;
}

ul li{
    margin-bottom: .5rem;
}

ul li span{
    color: burlywood;
    margin-left: 1rem;
    font-weight: 700;
}

hr{
    margin: 1.5rem 0;
    border: 1px solid #d3d3d3;
}

.container{
    max-width: 800px;
    background-color: #fff;
    margin: 2rem;
    border-radius: 1rem;
}

.container .recipe-img{
    padding: 2rem;
    border-radius: 1rem;
    overflow: hidden;
}

.container .recipe-img img{
    border-radius: 1rem;
}

.recipe-information{
    padding: 0px 2rem 2rem 2rem;
}

.description{
    margin: 1.25rem 0;
}

.recipe-prep-time{
    background-color: antiquewhite;
    padding: 1.25rem;
    border-radius: 1rem;
}

.recipe-prep-time h3{
    color: #872657;
    margin: 0.75rem;
}

.recipe-prep-time ul li::marker{
    color: #872657;
}

.ingredients li{
    margin-bottom: 0.5rem;
}

.ingredients li span{
    font-weight: initial;
}

.instruction .item{
    padding-left: 0.5rem;
    margin-bottom: 0.5rem;
    display: flex;
}

.instruction .item .num{
    color: burlywood;
    margin-right: 1rem;
    font-weight: 700;
}

.instruction .item p span{
    font-weight: 700;
}

.nutrition-step .values{
    margin-bottom: 1rem;
}

.nutrition-table .item{  
    padding: 1rem 2rem;
    display: flex;
    border-radius: 1px solid #d3d3d3;
}

.nutrition-table .item:last-child{
    border-bottom: 0;
}

.nutrition-table .item p:nth-child(2){
    color: burlywood;
    font-weight: 700;
}

.nutrition-table .item > *{
    width: 100px;
    margin-right: auto;
}

@media (max-width: 540px){
    h1{
        margin-top: 2rem;
    }

    .container{
        margin: 0;
    }

    .container .recipe-img{
        padding: 0;
        border-radius: 0;
    }
    .container .recipe-img img{
        border-radius: 0;
    }
}

